#selected-post-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    height: calc(100vh - 75px);
}

#post-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.5s ease-in-out;
}
  

#sidebar-button {
  transition:  0.5s ease-in-out;
}

#sidebar-container {
  top: 0;
  right: 0;
  position: fixed;
  height: calc(100vh - 75px);
  transition: 0.5s ease-in-out;
  border-left: 1px solid #1F1F1F ;
  background-color: #0a0a0a;
}