#popover-content {
    overflow-y: auto;
    padding: 0.5rem;
    margin: 0;
    width: 275px;
    height: 350px;
    scrollbar-width: none;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
        display: none;
    }
}

#folder-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    gap: 10px;
}

#folder-item-name {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    font-size: 12px;
    font-weight: 500;
    padding-top: 5px;
    height: 100%;
}

#folder-item-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

