#folder-page {
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
    margin-right: 2rem;
}

#folder-name {
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 1.1;
}

#folder-description {
    font-weight: 500;
    color: #666;
}

#folder-posts-container {
    margin-top: 2rem;
}
