#profile-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
  
#profile-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
}

.tab-filter{
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-right: 0.5rem;
}

.profile-tabs {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 1rem;
    margin-right: 1rem;
}
  
  
#profile-avatar {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    width: 8rem;
    height: 8rem;
    overflow: hidden;
}
  
#folder-container {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
  }
  
  @media (min-width: 640px) {
    #folder-container {
      grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));
      justify-content: center;
    }
  }

#canvas-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
    gap: 1rem;
}

#folder-thumbnail {
    background-color: gray;
    width: 100%;
    height: 250px;
}