@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));


:root {
  --radius: 0.625rem; //--radius: 0.625rem;
  --background: oklch(0.95 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);

  /* Navbar */
  --navbar:oklch(0.95 0 0);
  --navbar-foreground: oklch(0.145 0 0);
  --navbar-popover: rgb(219, 219, 219);
  
}


.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);

  /* Navbar */
  --navbar: oklch(0.145 0 0);
  --navbar-foreground: oklch(0.985 0 0);
  --navbar-popover: rgb(20, 20, 20);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  /* Navbar */
  --color-navbar: var(--navbar);
  --color-navbar-foreground: var(--navbar-foreground);
  --color-navbar-popover: var(--navbar-popover);
}


:root {
  --nav-height: 80px;
  --scroll-padding-top: calc(var(--nav-height) + 20px);
}



/* Prevent layout shifts due to scrollbar/shadcn modals */
html {
  scrollbar-gutter: stable;
  scroll-padding-top: var(--scroll-padding-top);
  scroll-behavior: smooth;    
}

body { 
  overflow-x: hidden; 
  @media (max-width: 768px) {
    margin-bottom: var(--nav-height);
  }
} 

[data-scroll-locked][data-scroll-locked] {
  margin-right: 0 !important;
}


.squircle {
  border-radius: 12px;
}

@supports (corner-shape: squircle) {
  .squircle {
    border-radius: 24px;
    corner-shape: squircle;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

#navbar {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--border);
  top: 0; left: 0; right: 0;
  height: var(--nav-height);
  width: 100vw;
  padding: 0 2rem;
  z-index: 10;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;

  @media (max-width: 768px) {
    display: none;
  }
}

#anon-navbar {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--border);
  top: 0; left: 0; right: 0;
  height: var(--nav-height);
  width: 100%;
  padding: 0 2rem;
  z-index: 10;
  @apply bg-navbar text-navbar-foreground;
}

.padding-top {
  padding-top: var(--nav-height);
}

.margin-top {
  margin-top: var(--nav-height);
}

.nav-default {
  @apply bg-navbar text-navbar-foreground;
}

.nav-transparent {
  backdrop-filter: blur(1.8px);
  brightness: 0.1;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.2);
  background: linear-gradient(to bottom,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(0, 0, 0, 0.0) 100%
  );
}

#search-container {
  position: absolute;
  left: 50%;
  translate: -50%;
  display: flex;
  flex-direction: row;
  /* transition: width 0.25s ease-in-out; */
}

.search-default {
  @apply bg-navbar-popover;
}

.search-transparent {
  @apply bg-background text-foreground;
  backdrop-filter: blur(5px);
  opacity: 0.6;
}

.search-bar-transparent {
  @apply bg-background text-foreground;
  backdrop-filter: blur(10px);
  opacity: 0.6;
}

.search-bar-default {
  @apply bg-navbar-popover text-navbar-foreground;
}

.mobile-navbar {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  bottom: 0;
  left: 0;
  right: 0;
  height: 75px;
  width: 100%;
  padding: 0 2rem;
  @media (min-width: 768px) {
    display: none;
  }
  border-top: 1px solid var(--border);
  @apply bg-navbar text-navbar-foreground;
}



#group-hover {
  @apply group-hover:opacity-100 opacity-0;
}

#pin-username-label {
  @apply group-hover:opacity-100 opacity-0 transition-opacity duration-300;
  bottom: 0.5rem;
  right: 0.5rem;
  padding: 0.2rem 0.5rem;
  border-radius: 0.6rem;
  leading-trim: 0;
  position: absolute;
  background-color: rgb(0 0 0 / 50%);
  backdrop-filter: blur(10px);
  color: white;
  font-size: 12px;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}