#selected-post-container {
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    height: calc(100vh - 75px);
  }
  #post-container {
    position: relative;
  }
  
  #similar-posts-container {
    background-color: blue;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  #sidebar-button {
    transition:  0.5s ease-in-out;
  }
  
  #sidebar-container {
    top: 10px;
    right: 0;
    border-radius: 15px;
    height: calc(100vh - 100px);
    transition: 0.5s ease-in-out;
    @apply bg-[#d8d8d8] dark:bg-[#181818];
  }
  
  #sidebar-post-container {
    transition:  0.5s ease-in-out;
  }