#stage-container {
    background-color: #0F0F0F;
    width: 100%;
    height: 100%;
}

#stage-toolbar {
    position: fixed;
    bottom: 10px;
    left: 50%;
    translate: -50% 0;
    background-color: #1A1A1A;
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    padding: 0.75rem 1.5rem;
}

#canvas-menu {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
}

#tabs-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 1rem;
    margin-right: 1rem;
  }
  